.main-page {
  min-height: 100vh;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
}

a {
  text-decoration: none;
}
