.palette {
  height: 100vh;
  background-color: rgb(225, 225, 225);
}

.palette-colors {
  height: calc(100% - 5rem);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.palette-footer {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  font-size: 1.25rem;
  background-color: white;
}
