/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$primary-color: rgb(0, 101, 30);
$secondary-color: rgb(0, 0, 0);
$background-color: #fff;
$darken-btn-amount: 15;
$mobile-breakpoint: 720px;

body {
  font-family: sans-serif;
  background: rgb(187, 205, 0);
  background: linear-gradient(
    90deg,
    rgba(187, 205, 0, 1) 0%,
    rgba(40, 255, 137, 1) 100%
  );
}

@media only screen and (max-width: ($mobile-breakpoint - 1)) {
  .navbar {
    position: fixed;
    width: 100%;
    height: 3rem;

    display: flex;
    flex-direction: column;
    color: white;

    .navbar-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $primary-color;
      z-index: 1;

      * {
        margin: 0.5rem;
      }

      .navbar-title {
        font-size: 1.25rem;
      }

      i {
        cursor: pointer;
        color: white;
        text-align: center;
        padding: 0.5rem;
        width: 1rem;
        height: 1rem;
        background-color: darken($color: $primary-color, $amount: 10);
        border-radius: 2rem;

        transition: background-color 0.2s;

        &:hover {
          background-color: darken($primary-color, $darken-btn-amount);
        }
      }
    }

    .navbar-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      list-style-type: none;
      transition: transform 0.2s ease-in-out;

      transform: translateY(-100%);

      background-color: darken($color: $primary-color, $amount: 15);

      &-expand {
        transform: translateY(0%);
      }

      li {
        padding: 0.3rem 0;
        width: 80%;

        &:not(:last-child) {
          border-bottom: 1px solid darken($primary-color, 30);
        }

        a {
          display: block;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
@media only screen and (min-width: $mobile-breakpoint) {
  .navbar {
    position: fixed;

    font-family: "Sora", sans-serif;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    height: 3rem;

    box-sizing: border-box;

    color: white;

    i {
      display: none;
    }

    .navbar-title {
      font-size: 1.25rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      li:not(:last-child) {
        margin-right: 20px;
      }

      li {
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.page-container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.dog-page {
  background-color: rgba(28, 28, 28, 0.7);
  padding: 2rem 2rem 0.25rem;
  border-radius: 1rem;
  color: white;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  img {
    width: 600px;
  }

  li {
    margin: 0.25rem 0;
  }
}
